
select:focus {
  outline: 1px solid lighten(@color-primary, 47%);
}
button:focus {
  outline: none;
}

::-webkit-input-placeholder {
   color: @type-color-light;
}

:-moz-placeholder { /* Firefox 18- */
   color: @type-color-light;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: @type-color-light;
}

:-ms-input-placeholder {
   color: @type-color-light;
}



// Text inputs
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea {

  // General Styles
	background-color: transparent;
	border: none;
	border-bottom: 1px solid @input-border-color;
	border-radius: 0;
	outline: none;
	height: 3rem;
	width: 100%;

	font-size: 1rem;
	margin: 0 0 15px 0;
	padding: 0;
	box-shadow: none;
 	box-sizing: content-box;
	transition: all .3s;


  // Disabled input style
  &:disabled, &[readonly="readonly"] {
    color: @input-disabled-color;
    border-bottom: 1px dotted @input-disabled-color;
  }
  // Disabled label style
  &:disabled+label, &[readonly="readonly"]+label {
    color: @input-disabled-color;
  }
  // Focused input style
  &:focus:not([readonly]) {
    border-bottom: 1px solid @input-focus-color;
    box-shadow: 0 1px 0 0 @input-focus-color;
  }
  // Focused label style
  &:focus:not([readonly])+label {
    color: @input-focus-color;
  }
  // Valid Input Style
  &.valid,
  &:focus.valid {
    border-bottom: 1px solid @input-success-color;
    box-shadow: 0 1px 0 0 @input-success-color;
  }
  
  // Invalid Input Style
  &.error,
  &:focus.error {
    border-bottom: 1px solid @input-error-color;
    box-shadow: 0 1px 0 0 @input-error-color;
  }
  
  // Form Message Shared Styles
  & + label:after {
    display: block;
    content: "";
    position: absolute;
    top: 65px;
    opacity: 0;
    transition: .2s opacity ease-out, .2s color ease-out;
  }
}



// Styling for input field wrapper
.input-field {
  position: relative;
  margin-top: 1rem;

  label {
    color: @input-border-color;
    position: absolute;
    top: 0.8rem;
    left: 0;
    font-size: 1rem;
    cursor: text;
    transition: .2s ease-out;
    &.active {
      font-size: @forms-label-active-size;
      .transform(translateY(-140%));
    }
    &.error {
      color: @input-error-color;
    }
     &.valid {
      color: @input-success-color;
    }
  }

  // Prefix Icons
  .prefix {
    position: absolute;
    width: 3rem;
    font-size: 2rem;
    transition: color .2s;
    &.active { color: @input-focus-color; }
  }
  .prefix ~ input,
  .prefix ~ textarea {
    margin-left: 3rem;
    width: 92%;
    width: calc(100% - 3rem);
  }
  .prefix ~ textarea { padding-top: .8rem; }
  .prefix ~ label { margin-left: 3rem; }

  @media (max-width: @screen-md) {
    .prefix ~ input {
      width: 86%;
      width: calc(100% - 3rem);
    }
  }
  @media (max-width: @screen-sm) {
    .prefix ~ input {
      width: 80%;
      width: calc(100% - 3rem);
    }
  }
}



/***************
 Text Area
***************/
textarea {
   width: 100%;
   height: 3rem;
   background-color: transparent;
    overflow-y: hidden; /* prevents scroll bar flash */
    padding: 1.6rem 0; /* prevents text jump on Enter keypress */
    resize: none;
    min-height: 3rem;
}




/***************
  Radio Buttons
***************/

/* Remove default Radio Buttons */
[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}

[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  transition: .28s ease;

  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

[type="radio"] + label:before,
[type="radio"] + label:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 16px;
  height: 16px;
  z-index: 0;
  transition: .28s ease;
}


/* Unchecked styles */
[type="radio"]:not(:checked) + label:before {
  border-radius: 50%;
  border: 2px solid @radio-empty-color;
}
[type="radio"]:not(:checked) + label:after {
  border-radius: 50%;
  border: 2px solid @radio-empty-color;
  z-index: -1;
  .transform(scale(0));
}

/* Checked styles */
[type="radio"]:checked + label:before {
  border-radius: 50%;
  border: 2px solid transparent;
}
[type="radio"]:checked + label:after {
  border-radius: 50%;
  border: 2px solid @radio-fill-color;
  background-color: @radio-fill-color;
  z-index: 0;
  .transform(scale(1.02));
}

/* Radio With gap */
[type="radio"].with-gap:checked + label:before {
  border-radius: 50%;
  border: 2px solid @radio-fill-color;
}
[type="radio"].with-gap:checked + label:after {
  border-radius: 50%;
  border: 2px solid @radio-fill-color;
  background-color: @radio-fill-color;
  z-index: 0;
  .transform(scale(.5));
}

/* Disabled Radio With gap */
[type="radio"].with-gap:disabled:checked + label:before {
  border: 2px solid @input-disabled-color;
}
[type="radio"].with-gap:disabled:checked + label:after {
  border: none;
  background-color: @input-disabled-color;
}

/* Disabled style */
[type="radio"]:disabled:not(:checked) + label:before,
[type="radio"]:disabled:checked + label:before {
  background-color: transparent;
  border-color: @input-disabled-color;
}
[type="radio"]:disabled + label {
  color: @input-disabled-color;
}
[type="radio"]:disabled:not(:checked) + label:before {
  border-color: @input-disabled-color;
}
[type="radio"]:disabled:checked + label:after {
  background-color: @input-disabled-color;
  border-color: @input-disabled-solid-color;
}



/***************
   Checkboxes
***************/

// /* CUSTOM CSS CHECKBOXES */
// form p {
//   margin-bottom: 10px;
//   text-align: left;
// }
// form p:last-child {
//   margin-bottom: 0;
// }

/* Remove default checkbox */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}


// Checkbox Styles
[type="checkbox"] {

  // Text Label Style
  + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;

    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
  }

  /* checkbox aspect */
  + label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid @radio-empty-color;
    border-radius: 1px;
    margin-top: 2px;
    transition: .2s;
  }

  &:not(:checked):disabled + label:before {
    border: none;
    background-color: @input-disabled-color;
  }

}

[type="checkbox"]:checked {
  + label:before {
    top: -4px;
    left: -3px;
    width: 12px; height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid @radio-fill-color;
    border-bottom: 2px solid @radio-fill-color;
    .transform(rotate(40deg));
    -webkit-backface-visibility: hidden;
    transform-origin: 100% 100%;
  }

  &:disabled + label:before {
    border-right: 2px solid @input-disabled-color;
    border-bottom: 2px solid @input-disabled-color;
  }

}

/* Indeterminate checkbox */
[type="checkbox"]:indeterminate {
  +label:before {
    left: -10px;
    top: -11px;
    width: 10px; height: 22px;
    border-top: none;
    border-left: none;
    border-right: 2px solid @radio-fill-color;
    border-bottom: none;
    .transform(rotate(90deg));
    -webkit-backface-visibility: hidden;
    transform-origin: 100% 100%;
  }

  // Disabled indeterminate
  &:disabled + label:before {
    border-right: 2px solid @input-disabled-color;
    background-color: transparent;
  }
}

/***************
     Switch
***************/
.switch,
.switch * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    margin-bottom: @spacing-padding-md;
}
.switch label {
    cursor: pointer;
}
.switch label input[type=checkbox]{
    opacity: 0;
    width: 0;
    height: 0;
}
.switch label input[type=checkbox]:checked + .lever {
    background-color: @switch-checked-lever-bg;
}
.switch label input[type=checkbox]:checked + .lever:after {
    background-color: @switch-bg-color;
}
.switch label .lever {
    content: "";
    display: inline-block;
    position: relative;
    width: 40px;
    height: 15px;
    background-color: @switch-unchecked-lever-bg;
    border-radius: 15px;
    margin-right: 10px;
    transition: background 0.3s ease;
    vertical-align: middle;
    margin: 0 16px;
}
.switch label .lever:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 21px;
    height: 21px;
    background-color: @switch-unchecked-bg;
    border-radius: 21px;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.4);
    left: -5px;
    top: -3px;
    transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease;
}
// Switch active style
input[type=checkbox]:checked:not(:disabled) ~ .lever:active:after {
       box-shadow: 0 1px 3px 1px rgba(0,0,0,.4), 0 0 0 15px transparentize(@switch-bg-color, .9);
}
input[type=checkbox]:not(:disabled) ~ .lever:active:after {
       box-shadow: 0 1px 3px 1px rgba(0,0,0,.4), 0 0 0 15px rgba(0, 0, 0, .08);
}
.switch label input[type=checkbox]:checked + .lever:after {
    left: 24px;
}

// Disabled Styles

.switch input[type=checkbox][disabled] + .lever{
  cursor: default;
}
.switch label input[type=checkbox][disabled] + .lever:after,
.switch label input[type=checkbox][disabled]:checked + .lever:after {
    background-color: @input-disabled-solid-color;
}



/***************
     Select
***************/


.select-label {
  position: absolute;
}

.select-wrapper {
  position: relative;

  input.select-dropdown {
    position: relative;
    cursor: pointer;
    // color: #444;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid @input-border-color;
    outline: none;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 15px 0;
    padding: 0;
    display: block;
  }
  span.caret {
    color: initial;
    position: absolute;
    right: 0;
    top: 16px;
    font-size: 10px;
    &.disabled {
      color: @input-disabled-color;
    }
  }
  & + label {
    position: absolute;
    top: -14px;
    font-size: @label-font-size;
  }
}

select { display: none; }
select.browser-default { display: block; }


// Disabled styles
select:disabled {
  color: rgba(0,0,0,.3);
}
.select-wrapper input.select-dropdown:disabled {
  color: rgba(0,0,0,.3);
  cursor: default;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -ms-user-select: none; /* IE10+ */
  border-bottom: 1px solid rgba(0,0,0,.3);
}
.select-wrapper i {
  color: rgba(0,0,0,.3);
}
.select-dropdown li.disabled {
  color: @color-gray-primary !important;
  background-color: transparent !important;
}

select {
   background-color: rgba(255, 255, 255, 0.90);
   width: 100%;
   padding: 5px;
   border: 1px solid #f2f2f2;
   border-radius: 2px;
   height: 3rem;
}

.select-wrapper + label {
   font-size: @forms-label-active-size;
}

.dropdown-content {
  .shadow-level-1();
  background-color: @color-white;
  margin: 0;
  display: none;
  min-width: 100px;
  max-height: 650px;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  z-index: 999;
  will-change: width, height;
  list-style-type: none;
  padding: 0;

  li {
    clear: both;
    cursor: pointer;
    line-height: 1.5rem;
    width: 100%;
    text-align: left;
    text-transform: none;
    .animate-fast();
    margin: 0;
    &:hover, &.active {
      background-color: @color-gray-lighter;
      color: @color-gray-dark;
    }

    & > a, & > span {
      color: inherit;
      display: block;
      padding: 1rem 1rem;
    }

    // Icon alignment override
    & > a > i {
      height: inherit;
      line-height: inherit;
    }
  }
}

